/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
} */

/* screen width: 1366px , content container with 1088px */

/* utility - global css */
/* .content-container {
  max-width: 1088px;
  margin: 0 auto;
}

.section-tag {
  font-size: 14px;
  font-weight: 700;
  color: #5863F8;
}

.section-title {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.3;
}

.section-title__white {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.3;
  color: #fff;
}

.item-about {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
  color: #000000;
}

.item-description {
  color: #B1B1B1;
  font-size: 14px;
  font-weight: 500;
} */


#hero .content-container {
  max-width: 1088px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

/* #hero .content-container .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#hero .nav .logo {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.3s ease-in;
}

#hero .nav .logo:hover {
  border-bottom: 1px solid #ccc;
}

#hero .nav-list a {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s ease-in;
  border-bottom: 1px solid transparent;
}

#hero .nav-list a:hover {
  border-bottom: 1px solid #5863F8;
}

#hero .nav {
  padding-top: 30px;
}

#hero .nav-list {
  width: 50%;
  display: flex;
  justify-content: space-between;
} */

#hero .hero-text__wrap .hero-title {
  font-size: 62px;
  font-weight: 800;
  padding-bottom: 20px;
  line-height: 1.2;
}

#hero .hero-text__wrap .hero-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

#hero .hero-text__wrap {
  /* padding-top: 169px; */
  /* padding-bottom: 169px; */
  color: #fff;
}

#hero {
  background: url(/images/main-page/hero/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 92vh;
}

#hero .hero-text__wrap {
  position: absolute;
  left: 0;
  top: 48vh;
  transform: translateY(-50%);
}

#hero .check-in__wrap .check-in__nav {
  display: flex;
  align-items: center;
}

.check-in__wrap .check-in__nav a {
  opacity: 0.6;
  transition: 0.3s ease-in;
}

.check-in__wrap .check-in__nav a:hover {
  opacity: 1;
}

#hero .check-in__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: translateY(74px);
}

#hero .check-in__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 16px;
}

#hero .check-in__bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  /* padding-top: 32px;
  padding-bottom: 42px;
  padding-left: 92px;
  padding-right: 100px; */
  height: 148px;
  width: 100%;
  box-shadow: 0px 9px 23px -6px #818181;
}

#hero .check-in__bar .label {
  color: #5863F8;
  font-size: 13px;
  font-weight: 500;
  padding-bottom: 5px;
}

#hero .check-in__bar input {
  background: #EEEEEE;
  padding: 17px;
  border: none;
  outline: none;
  width: 260px;
  max-height: 50px;
}

#hero .check-in__bar input::placeholder {
  color: #CECECE;
  font-weight: 400;
  font-size: 13px;
}

#hero .check-in__bar .check-in__btn {
  margin-left: 33px;
  height: 51px;
}

#hero .check-in__nav .arrow-box {
  height: 51px;
}

#hero .grid-button__wrap {
  display: flex;
  align-items: flex-end;
}

.check-in__grid input {
  background: #fff;
  padding: 17px;
  border: 1px solid #EBEBEB;
  outline: none;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
}

.check-in__grid input::placeholder {
  color: #CECECE;
  font-weight: 400;
  font-size: 13px;
}



/* hero responsive */
@media (max-width: 990px) {
  #hero .check-in__bar input {
    width: 180px;
  }

  .check-in__grid input {
    height: 50px;
  }
}

@media (max-width: 760px) {
  #hero .check-in__bar input {
    padding: 10px;
    width: 133px;
    height: 40px;
  }
}


@media (max-width: 500px) {
  #hero .check-in__bar input {
    padding: 10px;
    width: 120px;
  }
}


@media (max-width: 475px) {
  #hero .check-in__bar input {
    padding: 10px;
    width: 100%;
  }
}

/* about us section */
.images-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 16px;
}

.images-wrap .hotel {
  grid-column-start: 1;
  grid-column-end: 3;
}

#about-us .content-container {
  display: flex;
  padding-top: 164px;
  padding-bottom: 90px;
  align-items: center;
  justify-content: space-between;
}


#about-us .read-more__btn {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  background: #5863F8;
  display: inline-block;
  padding: 15px 45px;
  transition: 0.3s ease-in;
}

#about-us .read-more__btn:hover {
  background: #6db970;
}

#about-us .read-more__btn p {
  display: flex;
  align-items: center;
}

#about-us .read-more__btn img {
  padding-left: 10px;
}

#about-us .section-title {
  max-width: 374px;
  padding-bottom: 15px;
}

#about-us .section-tag {
  padding-bottom: 10px;
}

#about-us .text-button__wrap {
  padding-right: 108px;
}

/* about us responsive  */
@media (max-width: 1200px) {
  #about-us .content-container {
    max-width: 960px;
    flex-direction: column;
  }

  #about-us .text-button__wrap {
    padding-bottom: 90px;
    padding-right: 0;
  }

  /* .images-wrap .hotel {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .images-wrap {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  
  }

  .images-wrap .hotel {
    grid-column-start: 2;
    max-width: 260px;
    height: 185px
  } */
}

@media (max-width: 990px) {
  #about-us .content-container {
    max-width: 720px;
  }
}

@media (max-width: 760px) {
  #about-us .content-container {
    max-width: 540px;
  }

  #about-us .about-us__2 {
    padding-bottom: 27px;
  }

  #about-us .read-more__btn {
    padding: 9px 28px;
  }
}




@media (max-width : 580px) {
  #about-us .content-container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  #about-us .images-wrap {
    grid-template-columns: 1fr;
  }

  #about-us .read-more__btn {
    padding: 8px 18px;
  }

  .images-wrap .hotel {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .images-wrap {
    justify-items: center;
  }

  .images-wrap .hotel {
    grid-row-start: 2;
    grid-row-end: 3;
    max-width: 260px;
  }
}

@media (max-width: 475px) {
  /* #about-us .hotel {
    grid-column-start: 1;
    grid-column-end: 2;
    max-width: 260px;
    height: 185px;
  } */

  #about-us .section-title {
    font-size: 35px;
  }

  #about-us p {
    font-size: 13px;
  }

  #about-us .content-container {
    padding-top: 110px;
  }
}

/* about us 2 */
#additional-about {
  /* height: 612px; */
  background: url(/images/main-page/about-us2/background.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
}

.features-grid .feature {
  background: #fff;
  text-align: center;
  padding: 27px 19px;
  /* max-width: 260px; */
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  padding: 0 32px;
}

.features-grid .feature-title {
  font-size: 18px;
  font-weight: 600;
}

.features-grid .feature-about {
  font-size: 14px;
  font-weight: 500;
  color: #B1B1B1;
}

#additional-about .nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features-grid .feature img {
  padding-bottom: 15px;
}

.features-grid .feature-title {
  padding-bottom: 20px;
}

.nav-wrap .nav-btn {
  padding: 25px;
  background: #ccc;
  opacity: 0.5;
  transition: 0.2s ease-in;
}

.nav-wrap a {
  height: 51px;
}

.nav-wrap .nav-btn:hover {
  background: #fff;
  opacity: 1;
}

#additional-about .content-container {
  max-width: 1272px;
  padding: 90px 0;
}

#additional-about .regular-container {
  max-width: 1088px;
  margin: 0 auto;
}

#additional-about .section-title__white {
  max-width: 376px;
  padding-bottom: 40px;
}

@media (max-width: 1200px) {
  #additional-about .regular-container {
    max-width: 960px;
  }

  #additional-about .content-container {
    max-width: 960px;
    text-align: center;
  }

  #additional-about .section-title__white {
    margin: 0 auto;
  }

  #additional-about .features-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 16px;
  }
}

@media (max-width: 990px) {
  #additional-about .content-container {
    max-width: 720px;
  }
}

@media (max-width: 760px) {
  #additional-about .content-container {
    max-width: 540px;
  }

  #additional-about .features-grid {
    grid-template-columns: 1fr;
  }

  .nav-wrap .nav-btn {
    display: none;
  }

  #additional-about .features-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }

  .features-grid .feature {
    max-width: 300px;
  }
}

@media (max-width: 580px) {
  #additional-about .content-container {
    padding: 90px 15px;
    max-width: 100%;
  }

  #additional-about .features-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 475px) {
  #additional-about .section-title__white {
    font-size: 35px;
  }
}

/* testimonials */

/* padding-left: calc( (100% - container width) / 2 ) */

#testimonials {
  background: #F8F8F8;
  display: flex;
  justify-content: flex-end;
}

#testimonials .section-title {
  max-width: 521px;
  padding-bottom: 34px;
}

#testimonials .avatar-about__wrap {
  display: flex;
  padding-bottom: 20px;
}

#testimonials .avatar-about__wrap a {
  text-decoration: none;
  
}

#testimonials .about {
  padding-left: 19px;
}

#testimonials .poster-name {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}

#testimonials .profession {
  font-size: 12px;
  font-weight: 600;
  color: #707070;
}

#testimonials .comment {
  max-width: 340px;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 20px;
}

#testimonials .nav-button__list .nav-btn {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #707070;
  opacity: 0.5;
  transition: 0.2s ease-in;
}



#testimonials .nav-button__list {
  display: flex;
  max-width: 70px;
  justify-content: space-between;
}

#testimonials .nav-button__list .current {
  background: #5863F8;
  opacity: 1;
}

#testimonials .nav-button__list .nav-btn:hover {
  background: #5863F8;
  opacity: 1;
}

#testimonials .content-container {
  /* padding: 76px 0; */
  max-width: 1088px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

#testimonials .nav-img__wrap {
  position: relative;
  max-height: 487px;
}

#testimonials .nav-btn__wrap {
  position: absolute;
  bottom: 9px;
  left: 0;
  display: flex;
  max-height: 51px;
  transform: translateX(-50%);
}

#testimonials .nav-btn__wrap a {
  opacity: 0.8;
  transition: 0.4s ease-in;
}

#testimonials .nav-btn__wrap a:hover {
  opacity: 1;
}


/* testimonials responsive */
@media (max-width: 1200px) {
  #testimonials .content-container {
    max-width: 960px;
    /* flex-direction: column;
    align-items: flex-start; */
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    padding: 76px 0;
    justify-items: center;
  }
  
  #testimonials .section-title {
    font-size: 27px;
  }
  
  #testimonials .nav-btn__wrap {
    display: none;
  }

  #testimonials .nav-img__wrap>img {
    width: 500px;
  }

  #testimonials .section-title {
    font-size: 32px;
  }
}

@media (max-width: 990px) {
  #testimonials .content-container {
    max-width: 720px;
    /* grid-template-columns: 1fr;
    grid-row-gap: 50px;
    padding: 76px 0; */
  }

  #testimonials .section-title {
    max-width: 100%;
  }

  #testimonials .nav-img__wrap>img {
    width: 500px;
  }
}

@media (max-width: 760px) {
  #testimonials .content-container {
    max-width: 540px;
    /* justify-items: center; */
  }

  #testimonials .nav-img__wrap>img {
    width: 400px;
  }

  #testimonials .nav-img__wrap {
    right: 0;
  }
}

@media (max-width: 580px) {
  #testimonials .content-container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 545px) {
  #testimonials .nav-img__wrap {
    display: none;
  }

}

/* @media (max-width: 475px) {
  #testimonials .content-container {
    padding-left: 15px;
    padding-right: 15px;
  }
} */

#restaurant .content-container {
  padding-top: 90px;
}

.menu-item {
  display: flex;
  align-items: center;
  transition: 0.2s ease-in;
  text-decoration: none;
}

.menu-item:hover {
  box-shadow: 0px 2px 23px -6px #818181;
}

.menu-item a {
  text-decoration: none;
  max-height: 190px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.menu-grid .item-body {
  padding-left: 16px;
  position: relative;
  padding-top: 36px;
  padding-bottom: 33px;
  background: #F8F8F8;
  width: 100%;
}

.menu-grid .item-body img {
  position: absolute;
  right: 0;
  bottom: 0;

}

.menu-grid .item-description {
  max-width: 241px;
}

.menu-grid .item-about {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
}

.menu-grid .item-description {
  color: #B1B1B1;
  font-size: 14px;
  font-weight: 500;
}

#restaurant .section-title {
  max-width: 498px;
  padding-bottom: 50px;
}

/* restaurant responsive */
@media (max-width: 1200px) {
  #restaurant .content-container {
    max-width: 960px;
  }

  .menu-grid .item-btn {
    width: 45px;
  }
}

@media (max-width: 990px) {
  #restaurant .content-container {
    max-width: 720px;
  }

  #restaurant .menu-grid {
    grid-template-columns: 1fr;
  }

  .menu-grid .menu-item {
    max-width: 88%;
  }

  #restaurant .section-title {
    font-size: 27px;
  }
}

@media (max-width: 760px) {
  #restaurant .content-container {
    max-width: 540px;
  }
}

@media (max-width: 580px) {
  #restaurant .content-container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .menu-grid .menu-item {
    max-width: 100%;
  }
}

@media (max-width: 475px) {
  .menu-grid .menu-item {
    flex-direction: column;
    align-items: center;
  }

  .menu-grid .menu-item>img {
    padding-bottom: 16px;
  }

  .menu-grid .item-description {
    max-width: none;
  }
}

/* blog section */
#blog .content-container {
  padding-top: 90px;
}

#blog .section-title {
  max-width: 465px;
  padding-bottom: 50px;
}

#blog .blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 16px;
  grid-column-gap: 16px;
}

.blog-grid a {
  text-decoration: none;
}

#blog .blog-grid .item-body {
  text-align: center;
  padding: 23px 0;
  background: #F8F8F8;
  transition: 0.2s ease-in;
}

#blog .blog-grid .grid-link {
  transition: 0.2s ease-in;
}

#blog .blog-grid .grid-link:hover {
  box-shadow: 0px 9px 23px -6px #818181;
  transform: translateY(-10px);
}

.blog-grid .grid-item {
  display: flex;
  flex-direction: column;
}


/* blog responsive */
@media (max-width: 1200px) {
  #blog .content-container {
    max-width: 960px;
  }

  #blog .blog-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-row-gap: 20px;
  }
}

@media (max-width: 990px) {
  #blog .content-container {
    max-width: 720px;
  }

  #blog .section-title {
    font-size: 27px;
  }
}

@media (max-width: 760px) {
  #blog .content-container {
    max-width: 540px;
  }

  #blog .blog-grid {
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
  }

  .blog-grid .grid-item {
    flex-direction: row;
    width: 100%;
  }

  #blog .blog-grid .item-body {
    width: 100%;
  }

  .blog-grid .grid-item img {
    max-width: 40%;
  }
}

@media (max-width: 580px) {
  #blog .content-container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

}


@media (max-width: 475px) {
  #blog .blog-grid .grid-item {
    flex-direction: column;
  }

  .blog-grid .grid-item img {
    max-width: 100%;
  }

  .images-wrap .hotel {
    grid-column-start: 1;
    grid-column-end: 2;
  }

}
